<div class="cell-lg-6">
    <!-- Post Boxed-->
    <div class="reveal-block">
        <div class="post post-boxed">
            <!-- Post media-->
            <header class="post-media">
                <img width="570" height="321" src="{image}" alt=""
                                            class="img-responsive">
            </header>
            <!-- Post content-->
            <section class="post-content text-left">
                <div class="post-tags group-xs">
                    <a href="{url}" class="label-custom label-lg-custom label-primary">{category}</a>
                </div>
                <div class="post-body">
                    <!-- Post Title-->
                    <div class="post-title">
                        <h5><a href="{url}" class="link link-default link-white-sm">{title}</a></h5>
                    </div>
                    <div class="post-meta">
                        <ul class="list-inline list-inline-sm p">
                            <li class="text-middle"><span>{author_text} </span><span class="text-primary">{author}</span></li>
                            <li><span class="text-middle icon-xxs mdi mdi-clock"></span>
                                <time datetime="{created_at}" class="text-middle text-primary-lighter">{left}</time>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="range-spacer offset-top-60 veil-lg"></div>
