<div class="table-responsive">
    <table class="table table-primary">
        <thead>
        <tr>
            <th>ستون 1</th>
            <th>ستون 2</th>
            <th>ستون 3</th>
            <th>ستون 4</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>لورم ایپسوم</td>
            <td>توضیحات</td>
            <td>زیر مجموعه</td>
            <td>32,000 تومان</td>
        </tr>
        <tr>
            <td>لورم ایپسوم</td>
            <td>توضیحات</td>
            <td>تخفیف</td>
            <td>32,000 تومان</td>
        </tr>
        <tr>
            <td>لورم ایپسوم</td>
            <td>توضیحات</td>
            <td>حمل و نقل</td>
            <td>32,000 تومان</td>
        </tr>
        <tr>
            <td>لورم ایپسوم</td>
            <td>توضیحات</td>
            <td>مالیات</td>
            <td>4,000 تومان</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>لورم ایپسوم</td>
            <td>توضیحات</td>
            <td>جمع مبلغ</td>
            <td>10,000 تومان</td>
        </tr>
        </tfoot>
    </table>
</div>
